In [0]:
print("manikandan")

In [0]:
%sql
select "manikandan"

#Databricks

In [0]:
mydata= [(1,'mani',59),(2,'ravi',60),(3,"kumar",75)]
myschema = "id INT, name STRING, mark INT"
df=spark.createDataFrame(mydata,schema=myschema)

In [0]:
display(df)

In [0]:
data = [
    (101, "Manikandan", "Data Engineering", 80000, "2022-06-15", "Chennai"),
    (102, "Anita", "Marketing", 60000, "2023-01-10", "Bangalore"),
    (103, "Ravi", "Data Engineering", 85000, "2021-12-01", "Hyderabad"),
    (104, "Sneha", "Finance", 75000, "2022-09-21", "Mumbai"),
]

columns = ["employee_id", "name", "department", "salary", "join_date", "city"]

df = spark.createDataFrame(data, columns)
df.show()

In [0]:
data = [
    (101, "Manikandan", "Data Engineering", 80000, "2022-06-15", "Chennai"),
    (102, "Anita", "Marketing", 60000, "2023-01-10", "Bangalore"),
    (103, "Ravi", "Data Engineering", 85000, "2021-12-01", "Hyderabad"),
    (104, "Sneha", "Finance", 75000, "2022-09-21", "Mumbai"),
]

columns = ["employee_id", "name", "department", "salary", "join_date", "city"]

df = spark.createDataFrame(data, columns)
df.show()

In [0]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
    .appName("RetryExample") \
    .config("spark.sql.execution.arrow.pyspark.enabled", "true") \
    .config("spark.network.timeout", "800s") \
    .config("spark.executor.heartbeatInterval", "60s") \
    .getOrCreate()

data = [
    (101, "Manikandan", "Data Engineering", 80000, "2022-06-15", "Chennai"),
    (102, "Anita", "Marketing", 60000, "2023-01-10", "Bangalore"),
    (103, "Ravi", "Data Engineering", 85000, "2021-12-01", "Hyderabad"),
    (104, "Sneha", "Finance", 75000, "2022-09-21", "Mumbai"),
]

columns = ["employee_id", "name", "department", "salary", "join_date", "city"]

df = spark.createDataFrame(data, columns)
display(df)

In [0]:

df = spark.table("default.employee_data_csv")
df.show()

In [0]:
print("manikandan")

In [0]:
data = [
    (101, "Manikandan", "Data Engineering", 80000, "2022-06-15", "Chennai"),
    (102, "Anita", "Marketing", 60000, "2023-01-10", "Bangalore"),
    (103, "Ravi", "Data Engineering", 85000, "2021-12-01", "Hyderabad"),
    (104, "Sneha", "Finance", 75000, "2022-09-21", "Mumbai"),
]

columns = ["employee_id", "name", "department", "salary", "join_date", "city"]

dd = spark.createDataFrame(data, columns)
dd.show()

In [0]:
data = [
    (101, "Manikandan", "Data Engineering", 80000, "2022-06-15", "Chennai"),
    (102, "Anita", "Marketing", 60000, "2023-01-10", "Bangalore"),
    (103, "Ravi", "Data Engineering", 85000, "2021-12-01", "Hyderabad"),
    (104, "Sneha", "Finance", 75000, "2022-09-21", "Mumbai"),
]

columns = ["employee_id", "name", "department", "salary", "join_date", "city"]

dd = spark.createDataFrame(data, columns)
dd.show()

In [0]:
df = spark.table("default.employee_data_csv")
df.show()

In [0]:
from pyspark.sql.functions import col
df=df.withColumn("bonus",col("salary")*0.2)

In [0]:
df.show()

In [0]:
df=df.withColumnRenamed("city","location")

In [0]:
df.display()

In [0]:
from pyspark.sql.functions import to_date, col
df_filtered = df.filter(to_date(col("join_date")) > "2022-01-01")
display(df_filtered)

In [0]:
from pyspark.sql.functions import when,col
df=df.withColumn(
                 "Experience-Level",
                 when (col("salary")>=80000,"Senior")
                 .when((col("salary")>=70000) &(col("salary")<80000),"Midlevel")
                 .otherwise("Junior")
                )

In [0]:
display(df)

In [0]:
from pyspark.sql.functions import col
df.groupby("department").avg("salary").show()

In [0]:
df.write.mode("overwrite").saveAsTable("default.employee_transformed_csv")