In [0]:
INSERT INTO demo_delta.sales (id, value, amount)
VALUES (1, 'A', 100.0),
       (2, 'B', 200.0);

UPDATE demo_delta.sales
SET amount = 150.0
WHERE id = 1;


SELECT * 
FROM demo_delta.sales VERSION AS OF 0;

SELECT * 
FROM demo_delta.sales VERSION AS OF 1;

SELECT * 
FROM demo_delta.sales TIMESTAMP AS OF '2025-09-22 16:00:00';